= simple_form_for(@contact, remote: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    ul.nav.nav-tabs
      li.active
        a data-toggle="tab" href="#address_tab" Address
      li
        a data-toggle="tab" href="#communication_detail"  Communication Detail
    .tab-content
      #address_tab.tab-pane.fade.in.active
        h3 Addresses
        #addresses
          = f.simple_fields_for :addresses do |address|
            = render 'address_fields', f: address
          .links
            = link_to_add_association 'add address', f, :addresses
      #communication_detail.tab-pane.fade
        h3 Communication Details
        #communication_details
          = f.simple_fields_for :communication_details do |communication_detail|
            = render 'communication_detail_fields', f: communication_detail
          .links
            = link_to_add_association 'add phone', f, :communication_details

  .form-actions
    = f.button :submit
