h1 Listing contacts

table.table.table-striped
  thead
    tr
      th Name
      th Email
      th Primary Address
      th Primary Phone
      th
      th
      th

  tbody
    - @contacts.each do |contact|
      tr
        td = contact.name
        td = contact.email
        td = contact.addresses.first.primary_address if contact.addresses.present?
        td = contact.communication_details.first.phone if contact.communication_details.present?
        td = link_to 'Show', contact
        td = link_to 'Edit', edit_contact_path(contact)
        td = link_to 'Destroy', contact, data: {:confirm => 'Are you sure?'}, :method => :delete
br

= link_to 'New Contact', new_contact_path
